body {
  background-color: #e0e0e0;
}

#root {
  display: flex;
  justify-content: center;
}

.calculator-container {
  position: absolute;
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
}

.display {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  height: 80px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 17px 10px -2px #4F4F4F;
}

.button-container {
  display: inline-grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  height: 350px;
  background-color: #eda02d;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 10px 8px 10px -2px #4F4F4F;
}

button {
  font-size: 1.8rem;
  border-radius: 10px;
  margin: 3px;
  box-shadow: 5px 4px 5px -5px #3A3435;
}